
.mainContent{
    display: flex;
    resize: both;
    flex-direction: column;    
    background: rgb(59, 151, 59);
    height: 100vh;    
    position: relative;
    width: 100%;
    align-items: center;
}
.footer{
    display: flex;
    resize: both;
    flex-direction: row;    
    background: transparent;    
    width: 100%;    
    margin-bottom: 10%;
    padding-left: 5%;    
}
#headerPlace{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background: transparent;
}
.headerContent{
    display:flex;
}
#innerPlace{
    display: grid;    
    resize: both;
    grid-template-columns: 100%;
    grid-template-rows: 100%;    
    width: 80%;
    margin-left:10%;
    margin-right:10%;
    height: auto;
}
.contentForm{
    display:grid;    
    margin-top: 10px;
    grid-template-columns:  25% 25% 25% 25%;
    grid-row: 50% 50%;
    column-gap: 10px;    
    height: auto;
}

.sendButton{
    display:flex;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: gold;
    
    text-align: center;
    align-items: center;
    height: 20px;
    width: min(100px,100%);
    border-radius: 50px;
}

.cityClass{
    padding-left: 5px;
    margin-top: 0;
    padding-top: 0;
    height: 20px;
}
.weatherPlace{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    font-weight: bold;


}